{% extends 'blog/base.html' %} {# Hereda de la base #}

{% block title %}{{ post.title }} - ETI{% endblock %} {# Título de la pestaña con el título del post #}

{% block content %}
  <article>
    <h2>{{ post.title }}</h2> {# Título principal del post #}
    <p>
        {# Muestra el autor y la categoría (si existe) #}
        Por: {{ post.author.name }}
        {% if post.category %}
            en <a href="#">{{ post.category.name }}</a> {# Podrías hacer esto un enlace a la categoría más adelante #}
        {% endif %}
        {# Muestra la fecha de publicación formateada #}
         - Publicado el {{ post.publication_date|date:"d F Y, H:i" }}
    </p>
    <hr> {# Una línea separadora #}
    {# Muestra el contenido completo del post. El |linebreaksbr convierte saltos de línea en <br> #}
    <div>
        {{ post.content|linebreaksbr }}
    </div>
  </article>

  <hr>
  <p><a href="{% url 'home' %}">Volver a la lista de posts</a></p> {# Enlace para volver #}

{% endblock %}