{% extends "pages/base.html" %}

{% block title %}Cambiar Contraseña{% endblock %}

{% block content %}
<h2>Cambiar Contraseña</h2>
<p>Por favor, introduce tu contraseña antigua, por razones de seguridad, y luego introduce tu nueva contraseña dos veces para verificar que la has escrito correctamente.</p>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Cambiar mi contraseña">
</form>
<p style="margin-top: 15px;"><a href="{% url 'profile_view' %}">Cancelar</a></p>
{% endblock %}